body.darkmode {
  background-color: black;
}

body.darkmode #headernav {
  background-color: rgba(0, 0, 0, 1);
  border-bottom: 1px solid #000;
  color: #eee;
}

body.darkmode #home {
  background-color: rgba(0, 0, 0, 1);
  color: #eee;
}
