:root {
  --page-bg-color: #fff;
  --page-text-color: #000;
  --accent-text-color: #333;
  --page-border-color: #999;
  --ux-bg-color: #eee;
  --ux-border-color: #ddd;
  --ux-text-color: #444;
}

[data-theme='dark'] {
  --page-bg-color: #000;
  --page-text-color: #ddd;
  --accent-text-color: #aaa;
  --page-border-color: #666;
  --ux-bg-color: #141414;
  --ux-border-color: #0a0a0a;
  --ux-text-color: #999;
}
