body {
  width: 100vw;
  overflow-x: hidden;
  font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa,
    Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri,
    source-sans-pro, sans-serif;
}

img {
  display: block;
}

#headerframe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 3em;
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  border-bottom: 1px solid #ddd;
  color: #222;
  transition: transform 0.125s ease-in-out;
}

#headerframe:not(.showheader) {
  transform: translateY(-101%);
}

#headerframe #headernav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#homenav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 3em;
  background-color: rgba(255, 255, 255, 1);
  border-top: 1px solid #ddd;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 4;
}

#homenav .footernav-btn-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #222;
  transition: transform 0.125s ease-in-out;
  border: none;
  border-radius: 0;
}

#homenav .footernav-btn-group .footernav-btn {
  background-repeat: no-repeat;
  background-size: 1.3em;
  background-position: center center;
  width: 2.3em;
  height: 2.3em;
  text-indent: -999vw;
  overflow: hidden;
  border: none;
  background-color: transparent;
}

/* #home {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 1);
  z-index: 3;
  transition: transform 0.25s cubic-bezier(1, 0, 0.67, 1);
  color: #222;
  overflow: auto;
} */

.nav-btn-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-btn-box .nav-btn-hed {
  font-size: 1.2em;
  font-weight: bold;
}

.nav-btn-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-btn-group .nav-btn {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 2vw;
  font-size: 1.1em;
  padding: 0.5em 2em;
  text-transform: uppercase;
  margin-top: 0.5em;
  text-align: center;
  width: 100%;
}

.nav-btn-group .nav-btn:after {
  content: '»';
  font-size: 1.333em;
  margin-left: 0.25em;
  color: #666;
}

#comicslist {
  padding: 1em 0.5em 4.5em 0.5em;
}

#comicslist .thumbsgrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0.25em 4em 0.25em;
}

#comicslist .thumbsgrid .thumb-frame {
  width: calc(25% - 0.25em);
  margin-bottom: 0.25em;
}

#comicslist .thumbsgrid .thumb-frame .thumb-image {
  width: 100%;
  height: auto;
}

#comicslist .thumbsgrid .thumb-frame .thumb-title {
  display: none;
}

/* #comicslist li {
  font-size: 1.5em;
  margin-bottom: 1em;
  font-weight: bold;
}

#comicslist li a {
  text-decoration: none;
  color: inherit;
} */

#headertitle {
  font-size: 1.1em;
}

.headerbutton {
  background-repeat: no-repeat;
  background-size: 1.4em;
  background-position: center center;
  width: 2em;
  height: 2em;
  text-indent: -999vw;
  overflow: hidden;
  border: none;
  background-color: transparent;
  border-radius: 0.5em;
  margin: 0 1em;
}

/* #rack {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #eee;
  transition: transform 0.25s ease-out;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

#rack .loading {
  margin: 7em 2em;
  text-align: center;
}

#rack .loading #feedname {
  font-style: italic;
}

#rack .storylines-frame {
  margin: 4em 6vw;
}

#rack .storylines-frame .storylines-hed {
  font-size: 1.333em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
}

#rack .storylines-frame .splash-image {
  margin: 0 auto 2em auto;
}

#rack .storylines-frame .storylines-desc {
  font-size: 1.05em;
  font-style: italic;
  margin-bottom: 1.5em;
}

#rack .storylines-list > ul > li {
  font-size: 1.25em;
  line-height: 1.333;
  margin-bottom: 1em;
}

#comicpages {
  transition: transform 0.25s cubic-bezier(1, 0, 0.67, 1);
}

#rack > .intro {
  margin: 5em 10vw;
}

#home .section-hed,
#rack > .intro .intro-hed,
#comicpages .loading .loading-hed {
  font-size: 1.333em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

#rack > .intro p {
  font-size: 1.1em;
  margin-bottom: 0.75em;
}

#rack > .intro small {
  font-size: 0.8em;
  font-style: italic;
}

#comicpages .comicpagesbox {
  display: flex;
  flex-direction: column;
  margin: 3em 4vw;
}

@media only screen and (min-width: 481px) {
  .mobile-only {
    display: none !important;
  }
}

@media only screen and (max-width: 480px) {
  .desktop-only {
    display: none !important;
  }

  #rack .storylines-frame {
    margin: 0;
    padding-top: 4em;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  #rack .storylines-frame .splash-image {
    width: 100%;
    margin: 0 0 1em 0;
  }

  #comicslist {
    padding: 0;
  }

  #comicslist .thumbsgrid .thumb-frame {
    width: calc(50% - 0.125em);
  }

  #comicpages .comicpagesbox {
    margin: 3em 0vw;
  }
}

.comic-image img {
  width: 100%;
  height: auto;
}

/* .comic-image:not(:has(img)) {
  height: 100vh;
} */

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-top: 2em;
}

.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #999;
  border-color: #999 transparent #999 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 
soft cubic-bezier(0.25,0,0,1)
snap cubic-bezier(1,0,.67,1)
bounce cubic-bezier(0.34, 1.56, 0.64, 1)

*/
