<div class="interstitial-frame">
  <article>
    <section>
      <h4 class="interstitial-hed">
        End of chapter <var data-templater></var>
      </h4>
      <h5 class="interstitial-subhed" data-templater></h5>
      <p class="interstitial-blurb">Now’s a great time<br />to take a break!</p>
      <div class="nav-btn-box">
        <h5 class="nav-btn-hed">Where to?</h5>
        <menu class="nav-btn-group">
          <li class="nav-btn" data-btntype="forward">Next chapter</li>
          <li class="nav-btn" data-btntype="back">Back to Intro</li>
          <li class="nav-btn" data-btntype="forward">Latest page</li>
        </menu>
      </div>
    </section>
  </article>
</div>
