<div class="interstitial-frame">
  <article>
    <section>
      <h4 class="interstitial-hed">Last available page</h4>
      <h5 class="interstitial-subhed" data-templater></h5>
      <p class="interstitial-blurb">
        <span>That's all for now!</span> <span>Check back later!</span>
      </p>
      <div class="nav-btn-box">
        <h5 class="nav-btn-hed">Where to?</h5>
        <menu class="nav-btn-group">
          <li class="nav-btn" data-btntype="forward">Find another comic</li>
          <li class="nav-btn" data-btntype="back">Back to Intro</li>
          <li class="nav-btn" data-btntype="forward">Subscriptions List</li>
        </menu>
      </div>
    </section>
  </article>
</div>
