<div class="subscription-frame">
  <h2 class="section-hed">Comic Subscriptions</h2>
  <p>
    Conventional user subscriptions are unfeasible for a prototype like this,
    without true user accounts. But we can simulate them by storing subscription
    data directly to this device, which is a decent approximation, even if it
    lacks syncing.
  </p>
  <h5 class="subscription-subhed">You are subscribed to:</h5>
  <div class="subscriptions-list" data-templater>No subscriptions found.</div>
</div>
